@import-normalize;

:root {
  /* Fonts */
  --main-font-family: "Syne", sans-serif;
  --secondary-font-family: "Lato", sans-serif;

  /* Text colors */
  --text-white: #fff;
  --text-black: #000;
  --text-light-black: #1e1e1e;
  --text-dark-blue: #556b84;
  --text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  /* Background colors */
  --bg-black-opacity: rgba(30, 30, 30, 0.48);
  --bg-gray: #ececec;
  --bg-light-blue: #d3eaff;
  --bg-light-blue-hover: #a0c8ed;
  --bg-white: #fff;
  --bg-black: #000;
  --bg-pink: #dd377d;

  /* Icon colors */
  --stroke-black: #200e32;

  /* Transition */
  --transition: 0.3s ease-in-out;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  color-scheme: dark light;
  font-size: 16px;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: var(--main-font-family);
  font-weight: 300;
  color: var(--text-white);
  overflow-x: hidden;
  background-color: var(--bg-white);
}

img,
picture,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

img {
  vertical-align: top;
}

input,
textarea,
button,
select {
  font: inherit;
}

button,
input {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}

button {
  cursor: pointer;
  background-color: inherit;
  border: none;
}

ol,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
